@font-face {
    font-family: 'mmc';
    src: url(../fonts/Montserrat.ttf);
    font-style: regular;
}

@font-face {
    font-family: 'mmc';
    src: url(../fonts/PTSerif-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'mmc';
    src: url(../fonts/PTSerif-ItalicBold.ttf);
    font-style: italic;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, a, li, label { font-family: 'mmc' }
h1 { font-weight: 600 }
h2 { font-weight: 450 }
h3 { font-weight: 500 }
h4 { font-weight: 500 }
h5 { font-weight: 500 }
h6 { font-weight: 450 }
p  { font-weight: 450 }
li  { font-weight: 450 }
.topbar li a, .footer li a { font-weight: 450 }
