/* ----------------------------------------------------------- */
/* SECTION 1: GENERIC SITE-WIDE STYLING */
/* ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, img {
  line-height: 1.3;
  letter-spacing: .01em;
  margin: 10px 0;
}

a { text-decoration: none }
a:hover { text-decoration: none; color: inherit; cursor: pointer }

/* * { position: relative }*/
html { margin-top: 0 !important }
/* *:focus { outline: 0 !important; text-decoration: none !important } */
/* *:hover { outline: 0 !important; text-decoration: none !important } */

body, html {
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

ul { list-style-type: none; padding-left: 0 }
a:visited { color: inherit; text-decoration: none }

/* ----------------------------------------------------------- */
/* SECTION 2: SPECIALTY CLASSES */
/* ----------------------------------------------------------- */

/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */

.reg-w { width: var(--content-width); align-self: center }

.full-width {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -47vw;
  margin-right: 47vw;
  width: 94vw;
  background-position: right center;
  background-repeat: no-repeat;
}

.arrow-link {
  color: black;
  position: relative;
  padding-bottom: 2px;
  padding-right: 28px;
  border-bottom: 1.25px solid;
  transition: .2s ease-out
}

.arrow-link::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 20px;
  background-image: url("../svgs/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(7px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0
}
.arrow-link:hover::after { transform: translateX(14px); }

@media only screen and (max-width: 767px) {
  .arrow-link {
    padding: 10px 0;
    border: 1.5px solid;
    border-radius: 5px;
    display: block;
    width: 98%;
    text-align: center;
    color: var(--dorange) !important;
    background-color: #E26E4B17;
  }
  .arrow-link::after { display: none }
}


.abs-center-v { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0 }
.abs-center-h { margin-left: auto; margin-right: auto; left: 0; right: 0 }

/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */

.divider {
  position: absolute;
  left: -999px; right: -999px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  top: 0
}

.question { margin-bottom: 75px; }
.radio { margin-top: 20px; }

.radio input { display: none }
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) { color: var(--dorange) }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) { color: var(--dorange) }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) { color: var(--dorange) }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) { color: var(--dorange) }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) { color: var(--dorange) }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) { color: var(--dorange) }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) { color: var(--dorange) }

.labels {
  display: flex;
  justify-content: space-between;
}
.labels label {
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .15s ease-out;
}

.checkmark {
  margin-left: auto; margin-right: auto;
  background-color: var(--white);
  border-radius: 50%;
  transition: .15s ease-out;
  border: 2px solid var(--dorange)
}

.labels label p { position: absolute; bottom: -40px }

.labels label:nth-of-type(1) .checkmark,
.labels label:nth-of-type(7) .checkmark { width: 60px; height: 60px }

.labels label:nth-of-type(2) .checkmark,
.labels label:nth-of-type(6) .checkmark { width: 40px; height: 40px }

.labels label:nth-of-type(3) .checkmark,
.labels label:nth-of-type(5) .checkmark { width: 30px; height: 30px }

.labels label:nth-of-type(4) .checkmark { width: 20px; height: 20px }

/* On mouse-over, add a grey background color */
.labels label:hover .checkmark { background-color: #ddd; }

/* When the radio button is checked, add a blue background */
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) .checkmark { background-color: var(--dorange); }

.quiz-con {
  display: flex;
  column-gap: 20px;
}
.quiz-con > div:first-of-type { flex-basis: 70% }
.quiz-con > ul { flex-basis: 10% }
.quiz-con > p { flex-basis: 20% }
.quiz-con > ul, .quiz-con > p { position: sticky; top: 10px; height: max-content }
