/* ----------------------------------------------------------- */
/* SECTION 1: GENERIC SITE-WIDE STYLING */
/* ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, {
  line-height: 1.2;
  letter-spacing: .01em;
  margin: 10px 0;
}
p, img {
  line-height: 1.7;
  letter-spacing: .01em;
  margin: 10px 0;
}

a { text-decoration: none }
a:hover { text-decoration: none; color: inherit; cursor: pointer }

/* * { position: relative }*/
html { margin-top: 0 !important }
/* *:focus { outline: 0 !important; text-decoration: none !important } */
/* *:hover { outline: 0 !important; text-decoration: none !important } */

body, html {
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

ul { list-style-type: none; padding-left: 0 }
a:visited { color: inherit; text-decoration: none }

/* ----------------------------------------------------------- */
/* SECTION 2: SPECIALTY CLASSES */
/* ----------------------------------------------------------- */

/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */

.reg-w { width: var(--content-width); align-self: center }

.full-width {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -47vw;
  margin-right: 47vw;
  width: 94vw;
  background-position: right center;
  background-repeat: no-repeat;
}

.arrow-link, .arrow-link:hover, .arrow-link:visited {
  color: white;
  background-color: var(--dorange);
  border-radius: 25px;
  padding: 10px 30px;
  font-style: italic;
  position: relative;
  padding-right: 40px;
  transition: .2s ease-out
}

.arrow-link::after {
  position: absolute;
  content: "→";
  width: 25px;
  height: 20px;
  /*background-image: url("../svgs/arrow.svg");*/
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(7px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0
}
.arrow-link:hover::after { transform: translateX(14px); }

@media only screen and (max-width: 767px) {
  .arrow-link {
    padding: 10px 0;
    border: 1.5px solid;
    border-radius: 5px;
    display: block;
    width: 98%;
    text-align: center;
    color: var(--dorange) !important;
    background-color: #E26E4B17;
  }
  .arrow-link::after { display: none }
}

.abs-center-v { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0 }
.abs-center-h { margin-left: auto; margin-right: auto; left: 0; right: 0 }

/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */

.divider {
  position: absolute;
  left: -999px; right: -999px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  bottom: 30px
}

/*----------- HEADER STYLING ------------- */
/*----------- HEADER STYLING ------------- */
/*----------- HEADER STYLING ------------- */

/*----------- THE GRID ZONE ------------- */
.topbar {
  position: relative;
  z-index: 5;
  grid-template-columns: 80px auto max-content;

  position: relative;
  left: 50%; right: 50%;
  margin-left: -45vw;
  margin-right: 45vw;
  width: 90vw;
  background-position: right center;
  background-repeat: no-repeat;

  padding: 65px 0 65px 0;
  display: grid;
}

.topbar .logo { grid-column: 1 / 2 }
.topbar .menu { grid-column: 3 / 4 }

/* .menubar { margin-top: auto; margin-bottom: auto } */
.topbar .logo { height: 75%; margin-top: auto; margin-bottom: auto }
.topbar .menu-active a { font-style: italic; font-weight: bold; transform: translateY(-1.7px); color: var(--dorange) !important }

.topbar .menu { display: flex; align-items: center }
.topbar .menu ul { list-style-type: none }
.topbar .menu li { float: left; transition: 0.8s }
.topbar .menu li a {
  display: block;
  font-size: 14px;
  padding: 10px;
  color: black;
  margin: 0px 22px;
  text-decoration: none;
  transition: color .2s linear 1s, font-style 0s linear 1s;
}
.topbar .menu-black li a { font-weight: 450; color: black }
.topbar .menu-white li a { font-weight: 380; color: white }

.topbar .menu ul:hover li{ opacity: .2 }
.topbar .menu ul li:hover { opacity: 1 !important }

.topbar .menu .quizBtn {
  opacity: 1 !important;
}
.topbar .menu .quizBtn a {
  background-color: var(--dblue);
  border-radius: 25px;
  opacity: 1 !important;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

/*----------- HAMBURGER NAV STYLING ------------- */
/*----------- HAMBURGER NAV STYLING ------------- */
/*----------- HAMBURGER NAV STYLING ------------- */

.hamburger {
  grid-column: 3 / 4;
  width: 80px;
  transform: translateX(-15%);
  cursor: pointer;
}

#nav-overlay {
  position: fixed;
  display: none;
  width: 100vw; height: 100vh;
  background-color: var(--dblue);
  top: 0; left: 0;
  opacity: 0;
}


/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */

/*----------- for the svgs ------------- */
.st0 { fill: var(--dblue) }
.st1 { fill: none }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 70px;
}

.footer .menu { display: flex; align-items: center }
.footer .socials { display: inline }
.footer ul { list-style-type: none; display: inline }
.footer li { transition: 0.8s; display: inline; float: left }
.footer li a {
  display: block;
  font-size: 19px;
  padding: 0px;
  margin-bottom: 25px;
  text-decoration: none;
  line-height: 1.1;
}

.footer svg { height: 40px }

/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */

.home-head {
  text-align: center;
}

/*----------- ABOUT STYLING ------------- */
/*----------- ABOUT STYLING ------------- */
/*----------- ABOUT STYLING ------------- */

.about-head {
  text-align: center;
}

.abt-rows {

}

.abt-row { width: 100%; line-height: 1.2; display: inline-flex; align-items: center; column-gap: 5%; margin: 100px 0 }
.abt-row .profile-img { flex-basis: 50% }
.abt-row .profile-content { flex-basis: 50% }

@media only screen and (max-width: 767px) {
  .abt-row { flex-direction: column }
  .abt-row .profile-img { flex-basis:  }
  .abt-row .profile-content { flex-basis:  }
}


@media only screen and (max-width: 767px) {
  .abt-row .profile-img { order: 1 }
  .abt-row .profile-content { order: 2 }
}
@media only screen and (min-width: 768px) {
  .abt-row:nth-of-type(odd)  .profile-img { order: 1 }
  .abt-row:nth-of-type(odd)  .profile-content { order: 2 }
  .abt-row:nth-of-type(even) .profile-img { order: 2 }
  .abt-row:nth-of-type(even) .profile-content { order: 1; text-align: right }
}

.abt-row .profile-img img { margin: 0; display: block }
.abt-row h5 { margin-bottom: 18px; font-style: italic }

/*----------- QUIZ STYLING ------------- */
/*----------- QUIZ STYLING ------------- */
/*----------- QUIZ STYLING ------------- */

.question { position: relative; margin-bottom: 60px }
.radio { margin-top: 20px; }

.radio input { display: none }
.radio .labels h4 { color: black !important }
.labels label { cursor: pointer }
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) { color: var(--dorange) }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) { color: var(--dorange) }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) { color: var(--dorange) }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) { color: var(--dorange) }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) { color: var(--dorange) }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) { color: var(--dorange) }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) { color: var(--dorange) }

.labels {
  display: flex;
  justify-content: space-between;
}
.labels label {
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .15s ease-out;
}

.checkmark {
  margin-left: auto; margin-right: auto;
  background-color: var(--white);
  border-radius: 50%;
  transition: .15s ease-out;
  border: 2px solid var(--dorange)
}

.labels label h4 { position: absolute; bottom: -65px }

.labels label:nth-of-type(1) .checkmark,
.labels label:nth-of-type(7) .checkmark { width: 60px; height: 60px }

.labels label:nth-of-type(2) .checkmark,
.labels label:nth-of-type(6) .checkmark { width: 40px; height: 40px }

.labels label:nth-of-type(3) .checkmark,
.labels label:nth-of-type(5) .checkmark { width: 30px; height: 30px }

.labels label:nth-of-type(4) .checkmark { width: 20px; height: 20px }

/* On mouse-over, add a grey background color */
.labels label:hover .checkmark { background-color: #ddd; }

/* When the radio button is checked, add a blue background */
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) .checkmark { background-color: var(--dorange); }

.quiz-con {
  display: flex;
  column-gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.quiz-con > ul, .quiz-con > p { position: sticky; top: 10px; height: max-content }

.quizNext, .quizNext:hover,
.quizNext:visited {
  padding: 20px 50px;
  padding-right: 70px;
  font-size: calc(var(--h3) * var(--font-size));
  background-color: var(--dblue);
  margin-top: 100px;
  border-radius: 50px
}

.quizNext::after { height: 35px }

/*----------- ARCHETYPE STYLING ------------- */
/*----------- ARCHETYPE STYLING ------------- */
/*----------- ARCHETYPE STYLING ------------- */

.arch-head { text-align: center; position: relative }
.quoteP { font-size: calc(var(--p) * .8 * var(--font-size)); }

.your-list {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 50px;
  position: relative;
}

.anchor-list-con { height: 100% }
.anchor-list { position: sticky; top: 20px }
.anchor-list li a { font-size: calc(var(--h5) * var(--font-size)); margin-bottom: 5px }
.anchor-list li { margin-bottom: 5px }

.arch-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  position: relative;
}

.arch-profile * { margin-bottom: 5px }

.starter-pack { position: relative }
.starter-pack h3 { color: var(--dorange); font-style: italic }
