/* ----------------------------------------------------------- */
/* SECTION 1: GENERIC SITE-WIDE STYLING */
/* ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, {
  line-height: 1.2;
  letter-spacing: .01em;
  margin: 10px 0;
}
p, img {
  line-height: 1.7;
  letter-spacing: .01em;
  margin: 10px 0;
}

a { text-decoration: none }
a:hover { text-decoration: none; color: inherit; cursor: pointer }

/* * { position: relative }*/
html { margin-top: 0 !important }
/* *:focus { outline: 0 !important; text-decoration: none !important } */
/* *:hover { outline: 0 !important; text-decoration: none !important } */

body, html {
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 767px) {
  body { overflow-x: hidden }
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

ul { list-style-type: none; padding-left: 0 }
a:visited { color: inherit; text-decoration: none }

/* ----------------------------------------------------------- */
/* SECTION 2: SPECIALTY CLASSES */
/* ----------------------------------------------------------- */

/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */

.reg-w { width: var(--content-width); align-self: center }

.full-width {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -47vw;
  margin-right: 47vw;
  width: 94vw;
  background-position: right center;
  background-repeat: no-repeat;
}

.arrow-link, .arrow-link:hover, .arrow-link:visited {
  color: white;
  background-color: var(--dorange);
  border-radius: 25px;
  padding: 10px 30px;
  font-style: italic;
  position: relative;
  padding-right: 40px;
  transition: .2s ease-out;
  border: none
}

.arrow-link::after {
  position: absolute;
  content: "→";
  width: 25px;
  height: 20px;
  /*background-image: url("../svgs/arrow.svg");*/
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(7px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0
}
.arrow-link:hover::after { transform: translateX(14px); }

@media only screen and (max-width: 767px) {
  .arrow-link, .arrow-link:hover, .arrow-link:visited {
    padding: 10px 30px;
    border: 1.5px solid;
    border-radius: 5px;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--dorange);
    background-color: #E26E4B17;
    font-size: calc(var(--font-size))
  }
  .arrow-link::after { display: none }
}

.abs-center-v { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0 }
.abs-center-h { margin-left: auto; margin-right: auto; left: 0; right: 0 }

/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */

.divider {
  position: absolute;
  left: -999px; right: -999px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  bottom: 0px
}

/*----------- HEADER STYLING ------------- */
/*----------- HEADER STYLING ------------- */
/*----------- HEADER STYLING ------------- */

/*----------- THE GRID ZONE ------------- */
.topbar {
  position: relative;
  z-index: 5;
  grid-template-columns: 80px auto max-content;

  position: relative;
  left: 50%; right: 50%;
  margin-left: -45vw;
  margin-right: 45vw;
  width: 90vw;
  background-position: right center;
  background-repeat: no-repeat;

  padding: 45px 0 45px 0;
  display: grid;
}

.topbar .logo { grid-column: 1 / 2 }
.topbar .menu { grid-column: 3 / 4 }

/* .menubar { margin-top: auto; margin-bottom: auto } */
.topbar .logo { height: 75%; margin-top: auto; margin-bottom: auto }
.topbar .menu-active a { font-style: italic; font-weight: bold; transform: translateY(-1.7px); color: var(--dorange) !important }

.topbar .menu { display: flex; align-items: center }
.topbar .menu ul { list-style-type: none }
.topbar .menu li { float: left; transition: 0.8s }
.topbar .menu li a {
  display: block;
  font-size: 14px;
  padding: 10px;
  color: black;
  margin: 0px 22px;
  text-decoration: none;
  transition: color .2s linear 1s, font-style 0s linear 1s;
}
.topbar .menu-black li a { font-weight: 450; color: black }
.topbar .menu-white li a { font-weight: 380; color: white }

.topbar .menu ul:hover li{ opacity: .2 }
.topbar .menu ul li:hover { opacity: 1 !important }

.topbar .menu .quizBtn {
  opacity: 1 !important;
}
.topbar .menu .quizBtn a {
  background-color: var(--dblue);
  border-radius: 25px;
  opacity: 1 !important;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

@media only screen and (max-width: 767px) {
  .topbar { padding: 25px 0 25px 0; height: 110px; align-items: center }
  .topbar .logo { height: 60%; margin-top: auto; margin-bottom: auto }
}


/*----------- HAMBURGER NAV STYLING ------------- */
/*----------- HAMBURGER NAV STYLING ------------- */
/*----------- HAMBURGER NAV STYLING ------------- */

.hamburger {
  grid-column: 3 / 4;
  height: 60%;
  transform: translateX(-15%);
  cursor: pointer;
  text-align: right;
}

#nav-overlay {
  position: fixed;
  width: 100vw;
  background-color: var(--white);
  top: 0; left: 0;
  z-index: 50;
  overflow: hidden;
}

.nav-close {
  height: 0;
  opacity: 0;
  transition: opacity .2s ease-out 0s, height 0s linear .2s;
}

.nav-open {
  height: 100vh;
  opacity: 1;
  transition: opacity .2s ease-out,height 0s linear;
}

#nav-overlay .topbar-hamb {
  position: relative;
  z-index: 5;
  grid-template-columns: 80px auto 80px;

  position: relative;
  left: 50%; right: 50%;
  margin-left: -45vw;
  margin-right: 45vw;
  width: 90vw;
  background-position: right center;
  background-repeat: no-repeat;

  padding: 45px 0 45px 0;
  display: grid;
}

#nav-overlay .hamburger-x {
  grid-column: 3 / 4;
  height: 90%;
  cursor: pointer;
}

.nav-overlay-menu {
  text-align: right;
  margin-right: 35px;
}
.nav-overlay-menu a { font-size: 25px }
.nav-overlay-menu li { margin-bottom: 25px }





/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */

/*----------- for the svgs ------------- */
.st0 { fill: var(--dblue) }
.st1 { fill: none }
.st2 { fill: var(--dorange) }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px;
}

.footer .menu { display: flex; align-items: center }
.footer .socials { display: inline }
.footer ul { list-style-type: none; display: inline }
.footer li { transition: 0.8s; display: inline; float: left }
.footer li a {
  display: block;
  font-size: 19px;
  padding: 0px;
  margin-bottom: 25px;
  text-decoration: none;
  line-height: 1.1;
}

.footer h5 { margin-bottom: 5px }
.footer .socials svg {
  height: 35px; margin: 0 10px;
  transform: translateX(-6px);
}
@media only screen and (max-width: 767px) {
  .footer .socials svg { height: 35px; margin: 0 }
}

/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */

.home-head {
  text-align: center;
}

.img-con { text-align: center; display: flex; justify-content: center }
.img-con img {
  min-width: 800px;
  margin-bottom: 0;
  transform: translateY(4px);
}
@media only screen and (max-width: 767px) {
  .img-con img {
    transform: none;
    min-width: unset;
    margin-bottom: 30px;
    width: 80%;
  }
}

/*----------- ABOUT STYLING ------------- */
/*----------- ABOUT STYLING ------------- */
/*----------- ABOUT STYLING ------------- */

.about-head {
  text-align: center;
  position: relative;
}

.createdBy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createdBy a { color: var(--dorange) }
.createdBy div { width: 100% }
.createdBy img { width: 200px }
.createdBy div:first-of-type { text-align: right }
.createdBy div:nth-of-type(2) { text-align: left }

.abt-rows {

}

.abt-row { width: 100%; line-height: 1.2; display: inline-flex; align-items: flex-end; column-gap: 5%; margin: 100px 0 }
.abt-row .profile-img { flex-basis: 50%; display: block }
.abt-row .profile-content { flex-basis: 50% }
.abt-row .profile-content a { height: 50px; width: 50px; display: inline-block }

.abt-row .profile-content h1 { margin-bottom: 20px }
.abt-row .profile-content h5 { margin-top: 0px; margin-bottom: 25px }

@media only screen and (max-width: 767px) {
  .abt-row { flex-direction: column; margin: 30px 0 }
  .abt-row .profile-img { flex-basis:  }
  .abt-row .profile-content { flex-basis:  }
}


@media only screen and (max-width: 767px) {
  .abt-row .profile-img { order: 1 }
  .abt-row .profile-content { order: 2 }
}
@media only screen and (min-width: 768px) {
  .abt-row:nth-of-type(odd)  .profile-img { order: 1 }
  .abt-row:nth-of-type(odd)  .profile-content { order: 2 }
  .abt-row:nth-of-type(even) .profile-img { order: 2 }
  .abt-row:nth-of-type(even) .profile-content { order: 1; text-align: right }
}

.abt-row .profile-img img { margin: 0; display: block }
.abt-row h5 { margin-bottom: 18px; font-style: italic }

/*----------- QUIZ STYLING ------------- */
/*----------- QUIZ STYLING ------------- */
/*----------- QUIZ STYLING ------------- */

.greyed { background-color: grey !important }
.greyed:hover::after { transform: translateX(7px) !important; }

.progBarInner, .progBarOuter { position: absolute; top: 0; height: 10px; border-radius: 20px }
.progBarOuter { background-color: var(--grey); width: 100% }
.progBarInner { background-color: var(--dorange); transition: .3s }

.question { position: relative; margin-bottom: 60px }
.radio { margin-top: 20px; }

.radio input { display: none }
.radio .labels h4 { color: black !important }
.labels label { cursor: pointer }
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) { color: var(--dorange) }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) { color: var(--dorange) }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) { color: var(--dorange) }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) { color: var(--dorange) }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) { color: var(--dorange) }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) { color: var(--dorange) }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) { color: var(--dorange) }

.labels {
  display: flex;
  justify-content: center;
}
.labels label {
  margin-right: 7px;
  margin-left: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .15s ease-out;
}

.checkmark {
  margin-left: auto; margin-right: auto;
  background-color: var(--white);
  border-radius: 50%;
  transition: .15s ease-out;
  border: 2px solid var(--dorange)
}

.labels label h4 { position: absolute; bottom: calc(var(--font-size) * -1 * 4.3) }

.labels label:nth-of-type(1) .checkmark,
.labels label:nth-of-type(7) .checkmark { width: 60px; height: 60px }

.labels label:nth-of-type(2) .checkmark,
.labels label:nth-of-type(6) .checkmark { width: 40px; height: 40px }

.labels label:nth-of-type(3) .checkmark,
.labels label:nth-of-type(5) .checkmark { width: 30px; height: 30px }

.labels label:nth-of-type(4) .checkmark { width: 20px; height: 20px }

@media only screen and (max-width: 767px) {
  .labels label:nth-of-type(1) .checkmark,
  .labels label:nth-of-type(7) .checkmark { width: 40px; height: 40px }

  .labels label:nth-of-type(2) .checkmark,
  .labels label:nth-of-type(6) .checkmark { width: 30px; height: 30px }

  .labels label:nth-of-type(3) .checkmark,
  .labels label:nth-of-type(5) .checkmark { width: 20px; height: 20px }

  .labels label:nth-of-type(4) .checkmark { width: 15px; height: 15px }
}

/* On mouse-over, add a grey background color */
.labels label:hover .checkmark { background-color: #ddd; }

/* When the radio button is checked, add a blue background */
.radio input:nth-of-type(1):checked ~ .labels label:nth-of-type(1) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(2):checked ~ .labels label:nth-of-type(2) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(3):checked ~ .labels label:nth-of-type(3) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(4):checked ~ .labels label:nth-of-type(4) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(6):checked ~ .labels label:nth-of-type(6) .checkmark { background-color: var(--dorange); }
.radio input:nth-of-type(7):checked ~ .labels label:nth-of-type(7) .checkmark { background-color: var(--dorange); }

.quiz-con {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
.quiz-con > ul, .quiz-con > p { position: sticky; top: 10px; height: max-content }

.quizNext, .quizNext:hover,
.quizNext:visited {
  padding: 20px 50px;
  padding-right: 70px;
  font-size: calc(var(--h3) * var(--font-size));
  background-color: var(--dblue);
  color: white !important;
  border-radius: 50px
}

@media only screen and (min-width: 768px) {
  .quizNext, .quizNext:hover,
  .quizNext:visited {
    margin-top: 100px
  }
}
.quizNext::after { height: 35px }

/*----------- ARCHETYPE STYLING ------------- */
/*----------- ARCHETYPE STYLING ------------- */
/*----------- ARCHETYPE STYLING ------------- */

.arch-head { text-align: center; position: relative }
.quoteP { font-size: calc(var(--p) * .8 * var(--font-size)); }

.your-list {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 50px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .your-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 50px;
    position: relative;
  }
}

.anchor-list-con { height: 100% }
.anchor-list { position: sticky; top: 20px }
.anchor-list li a { transition: .3s; font-size: calc(var(--h5) * var(--font-size)); margin-bottom: 5px }
.anchor-list li { margin-bottom: 5px }

.anchor-list .select a { color: var(--dorange) !important }

.anchor-list li a,
.anchor-list li a:visited { color: black }
.anchor-list li a:hover { color: var(--dorange) }

.anchor-content img { width: 30% }
@media only screen and (max-width: 767px) {
  .anchor-content img { width: 70% }
}

.arch-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .arch-profile { grid-template-columns: 1fr; row-gap: 30px }
}

.arch-profile * { margin-bottom: 5px }

.in-action-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.in-action-vid::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.in-action-vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.starter-pack { position: relative }
.starter-pack h3 { color: var(--dorange); font-style: italic }
.starter-pack img { max-width: 300px }


/*----------- ARCHETYPES STYLING ------------- */
/*----------- ARCHETYPES STYLING ------------- */
/*----------- ARCHETYPES STYLING ------------- */

.archs-head { text-align: center; position: relative }
.archs-head a, .archs-head a:hover, archs-head a:visited { color: black; font-size: calc(var(--p) * var(--font-size)); text-decoration: underline }

.arch-row { width: 100%; line-height: 1.2; display: inline-flex; align-items: center; column-gap: 5%; margin: 30px 0 }
.arch-row .arch-img { flex-basis: 50%; display: block }
.arch-row .arch-img > div { padding: 50px }
.arch-row .arch-content { flex-basis: 50% }

@media only screen and (max-width: 767px) {
  .arch-row { flex-direction: column; margin-bottom: 50px }
  .arch-row .arch-img > div { padding: 20px }
  .arch-row .arch-content h1 { margin-top: 0 }
  .arch-row .arch-content { text-align: center }
  .arch-row .profile-img { flex-basis:  }
  .arch-row .profile-content { flex-basis:  }
}


@media only screen and (max-width: 767px) {
  .arch-row .profile-img { order: 1 }
  .arch-row .profile-content { order: 2 }
}
@media only screen and (min-width: 768px) {
  .arch-row:nth-of-type(odd)  .arch-img { order: 1 }
  .arch-row:nth-of-type(odd)  .arch-content { order: 2 }
  .arch-row:nth-of-type(even) .arch-img { order: 2 }
  .arch-row:nth-of-type(even) .arch-content { order: 1; text-align: right }
}

.arch-row .profile-img img { margin: 0; display: block }

/*----------- INTERVIEW STYLING ------------- */
/*----------- INTERVIEW STYLING ------------- */
/*----------- INTERVIEW STYLING ------------- */

.itv-head { text-align: center; position: relative }

.itv-row-con { display: flex; justify-content: center }
.itv-row { display: flex; align-items: center; max-width: 600px }
.itv-row .itv-img { flex-basis: 66%; display: block }
.itv-row .itv-info { flex-basis: 34%; text-align: left; padding-left: 50px }
@media only screen and (max-width: 767px) {
  .itv-row { flex-direction: column }
}

.itv-info { color: var(--dorange) }
.itv-info em { color: black; white-space: nowrap }

.itv-info.mobile { display: grid; grid: 1fr 1fr 1fr / 1fr 1fr; column-gap: 10px; padding-left: 0 }
.itv-info.mobile h4:nth-of-type(odd) { text-align: right}
.itv-info.mobile h4 { margin: 10px 0 }


.itv-questions { position: relative }

.itv-questions > div:nth-of-type(1),
.itv-questions > div:nth-of-type(5),
.itv-questions > div:nth-of-type(7) { width: 70% }

.itv-questions > div:nth-of-type(3),
.itv-questions > div:nth-of-type(9) { width: 50% }

.itv-questions > div:nth-of-type(1) { margin-left: 0vw }
.itv-questions > div:nth-of-type(3) { margin-left: 25vw }
.itv-questions > div:nth-of-type(5) { margin-left: 13vw }
.itv-questions > div:nth-of-type(7) { margin-left: 0vw }
.itv-questions > div:nth-of-type(9) { margin-left: 25vw }

.itv-questions h2:first-of-type { margin-right: 20px }
@media only screen and (min-width: 768px) {
  .itv-questions h2:nth-of-type(2) { white-space: nowrap }
  .itv-questions > div { display: block; }
}
.itv-questions .avgDay,
.itv-questions .starterPack,
.itv-questions p { grid-area: 2 / 2 / 3 / 3 }


@media only screen and (max-width: 767px) {
  .itv-questions > div { width: 100% !important }

  .itv-questions > div:nth-of-type(1),
  .itv-questions > div:nth-of-type(3),
  .itv-questions > div:nth-of-type(5),
  .itv-questions > div:nth-of-type(7),
  .itv-questions > div:nth-of-type(9) { margin-left: 0 }
}

.avgDay > div {
  display: grid;
  grid: auto auto / auto auto;
  margin-bottom: 15px
}
.avgDay h6 {
  color: white;
  background-color: var(--dorange);
  border-radius: 20px;
  padding: 5px 9px;
  font-style: italic;
  width: max-content;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0px;
}
.avgDay h3 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0px;
  font-weight: 600;
}
.avgDay p { grid-area: 2 / 2 / 3 / 3; font-style: italic }


.starterPack > div {
  display: grid;
  grid: auto auto / auto auto;
  margin-bottom: 15px
}
.starterPack a {
  grid-area: 1 / 2 / 2 / 3;
}
.starterPack h3 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0px;
  font-weight: 600;
}
.starterPack p { grid-area: 2 / 1 / 3 / 2; font-style: italic; margin-top: 0 }
